

.pagination {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.pageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;

    background-color: #2C5680;
    color: white;
    border: 1px solid #2C5680;
    border-radius: 5px;

    font-family: var(--font-darker-grotesque), sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;
    
    border: 1px solid #DEB959;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    
    font-family: var(--font-darker-grotesque), sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
        background-color: #DEB959;
        color: #fff;
        cursor: pointer;
        transform: scale(1.1);
    }

    &:disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        transform: none;
    }
}